.Router ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

.Router li{
    display:inline-block;
    margin: 20px;
}

.Router a{
    text-decoration: none;
    color:black;
}

.Router a:hover,
.Router a:active{
    color:blue;
}

.header{
    display: flex;
    flex-direction: row;
    height:100px;
}
.Nav-Link{
    flex-grow: 1;
}
.Dropdown-Selection{
    justify-content: flex-end;
    flex-grow: 0;
    max-width:20vw;
}